* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family:'Quicksand', sans-serif;
  }

body {  
    background-color: #ffffff6e;
}

.avatarSmall {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }


  .avatarBig {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .buttons_test{
    background-color: #3d32d6;  
    color: white;
    margin: 0em 1em 0em 1em;
    text-align: center;
    
    padding: 1em;
    font-size: 16px;
    border: none;
}


/* Dropdown Button */
.dropbtn {
    background-color: #5a5964;
    color: white;
    padding: 16px;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 16px;
    border: none;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5995DA;
    padding: 16px;
    margin-left: 1em;
    margin-right: 2em;
    min-width: 160px;
    z-index: 1;
}
.headerFixo {
  
    padding: 10px 10px;
    background: #555;
    color: #f1f1f1;
}
.create_story_button{
    background-color: #2b2b55;  
    color: white;
    margin: 0em 10em 0em 1em;
    padding: 2em 2em 2em 2em;
    text-align: center;
    font-size: 16px;
    border:1em ;
    width: 200px;
    box-sizing: border-box;
    border-radius: 7px;
    position: fixed;
    z-index:1;
    display: flex;
    top:12em;
    left:64em;
    overflow-x:hidden;
} 
.create_story_button a:hover{
    
    color: rgb(97, 31, 31);
} 

.create_category_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin: 0em 10em 0em 1em;
    padding: 2em 2em 2em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    border-radius: 7px;
    position: fixed;
    z-index:1;
    top:17em;
    left:64em;
    overflow-x:hidden;
}
.select_category h4{
    /*background-color: #4CAF50; */
    color: black;
    padding: 12px 16px;
    width: 15em;
    border: 1px solid #888;
    text-decoration: none;
    display: block;
    
} 
.select_category div{
    width: 15em;
    border: 1px solid #888;
}
.create_category_button textarea{
    border: 1px solid #888; 
    outline: none;
    resize: none;
    overflow: auto;

}

.lista_css_container{
    color: #fff;
    background-color: #5995DA;  
    border: 0px solid #fff; 
    display: flex;
    justify-content: flex-end;
}

a {
    color: inherit; 
    text-decoration: none;
} 

.lista_css {
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
  }



/* Page content */
.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 1px;
  }


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #1207a7;}


.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color: #1207a7;} 

.formcontainer{
    display: flex;
    justify-content: center;   
    background-color: #ffffff;
}

.formclass{
    display: flex;
    flex-direction: column;  
    background-color: #5995DA;    
    border: 1px solid #1207a7;
}

.formclass h2{
    background-color: #1207a7;
    text-align: center;
    color: #FFF;
}

.signupfooter{
    background-color: #1207a7;
    text-align: center;
    color: #FFF;
}

.formclass input{
    display: flex;
    margin: 2em 2em 2em 2em;
    padding: 1em 2em 1em 2em;
}

.submit_b {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 1em 2em 1em 2em;
    text-align: center;
    border: 1px solid #1207a7;
    border-radius: 5px;
}

.submit_b:hover  {
    background-color: #1207a7;
} 

.submit_b:active  {
    background-color: #090544;
} 

.logincontainer{
    display: flex;
    justify-content: center;   
    background-color: #aca2a2;
}

.login h2{
    background-color: #1207a7;
    text-align: center;
    color: #FFF;
}

.login{
    background-color: #5995DA;    
    border: 1px solid #1207a7;
    border-radius: 7px;
}

.login input{
    display: flex;
    flex-direction: column; 
    margin: 2em 2em 2em 2em;
    padding: 1em 2em 1em 2em;
}

.change_pwd_fieldcontainer{
    display: flex;
    justify-content: left;   
    background-color: #ffffff;
}

.change_pwd_field{
    display: flex;
    background-color: #5995DA;
    flex-direction: column;   
    border: 1px solid #1207a7;
}

.change_pwd_field div{
    color:  #ffffff;
    background-color: #1207a7;
    margin-bottom: 15px;
    padding: 0.8em 0em 0.8em 0em;
}

.change_pwd_field input{
    margin: 1em 2em 1em 2em;
    padding: 1em 2em 1em 2em;
    margin-bottom: 35px;
}


/* break Line*/
.break_line{
    height:1px;
    background:#000000;
    padding: 1px;
    margin: 35px 0px 35px 0px ;
}

.stories_css{
    display: flex;
    justify-content: center;   
    flex-direction: column;   
    /*border: 1px solid #1207a7;*/
}

.story{
    background:#fff;
    width: 800px;
    border: 1px solid #000000;
    margin: 1em;   
}

.story_header{
    background:#1207a7;
    font-size: 0.8em;
}
.story_header span{
    margin: 0em 1em 0em 1em;
}

.story_content{
    background:#c5c5c7;
    border: 1px solid #000000;  
}

.story_footer{
    display: flex;
    background:#c5c5c7;
    border: 1px solid #000000;  
}

.story_footer > * {
    display: flex;    
    flex-direction: column;   
    justify-content: center;   
    margin: 0em 1em 0em 1em;
}

.story header{
    margin: 1em 0em 2em 0em;
    text-align: center;
}

.article-container #orderDiv{
  height: 75%;
  width: 10em;
  position: fixed;
  z-index: 1;
  top: 10em;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  box-sizing: border-box;
 /* padding-top: 20px;
  padding-bottom: 200px;*/

 
}

.article-container #orderDiv button{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  border: none;
  background-color: #111;
  font-size: 20px;
  color: #818181;
  display: block;
}

.article-container #orderDiv button:hover {
    color: #f1f1f1;

  }

.ordered-publications{
    margin-left: 160px; /* Same as the width of the sidenav */
    /* font-size: 28px; Increased text to enable scrolling */
    padding: 0px 10px;

}