* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family:'Quicksand', sans-serif;
  }

body {  
    background-color: #ffffff6e;
}

.avatarSmall {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }


  .avatarBig {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .buttons_test{
    color: white;
    margin: 1em;
    text-align: center;
    padding: 1em;
    font-size: 16px;
    border: none;
}

    .buttons_test :hover{
        color:#ffd600;
    }



/* Dropdown Button */
.dropbtn {
    background-color: #5a5964;
    color: white;
    padding: 16px;
    margin:1em;
    font-size: 16px;
    border: none;
}


.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #555;
    border: 1px solid #111; 
    padding: 16px;
    margin-left: 1em;
    margin-right: 2em;
    min-width: 160px;
    z-index: 5;
}
.headerFixo {
  
    padding: 10px 10px;
    background: #555;
    color: #f1f1f1;
    text-align: center;
    justify-content: center;  
}
.create_story_button{
    background-color: #2b2b55;  
    color: white;
    margin: 0em 10em 0em 1em;
    padding: 2em 2em 2em 2em;
    text-align: center;
    font-size: 16px;
    border:1em ;
    width: 200px;
    box-sizing: border-box;
    border-radius: 7px;
    position: fixed;
    z-index:1;
    display: flex;
    top:23em;
    left:64em;
    overflow-x:hidden;
} 
.create_story_button a:hover{
    
    color: rgb(97, 31, 31);
} 

.create_category_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin: 0em 10em 0em 1em;
    padding: 2em 2em 2em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    border-radius: 7px;
    position: fixed;
    z-index:1;
    top:28em;
    left:64em;
    overflow-x:hidden;
}
.select_category h4{
    /*background-color: #4CAF50; */
    color: black;
    padding: 12px 16px;
    width: 15em;
    border: 1px solid #888;
    text-decoration: none;
    display: block;
    
} 
.select_category div{
    width: 15em;
    border: 1px solid #888;
}
.create_category_button textarea{
    border: 1px solid #888; 
    outline: none;
    resize: none;
    overflow: auto;

}

.lista_css_container{
    color: #fff;
    background-color: #333;  
    border: 1px solid #111; 
    display: flex;
    justify-content: flex-end;
}

a {
    color: inherit; 
    text-decoration: none;
    text-align: center;
} 

.lista_css {
    padding: 10px 0px;  
    justify-content: space-around;
    display: flex;  
  }
  .lista_css_container h1{
    margin-left: 10px;
    text-align: center;
    
  }


/* Page content */
.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 1px;
  }


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #111;}  


.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color: #111;} 

.formcontainer{
    display: flex;
    justify-content: center;   
    background-color: #ffffff;
}

.formclass{
    display: flex;
    flex-direction: column;  
    background-color: #5995DA;    
    border: 1px solid #1207a7;
}

.formclass h2{
    background-color: #1207a7;
    text-align: center;
    color: #FFF;
}

.signupfooter{
    background-color: #1207a7;
    text-align: center;
    color: #FFF;
}

.formclass input{
    display: flex;
    margin: 2em 2em 2em 2em;
    padding: 1em 2em 1em 2em;
}

.submit_b {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 1em 2em 1em 2em;
    text-align: center;
    border: 1px solid #1207a7;
    border-radius: 5px;
}

.submit_b:hover  {
    background-color: #1207a7;
} 

.submit_b:active  {
    background-color: #090544;
} 

.logincontainer{
    display: flex;
    justify-content: center;   
    background-color: #aca2a2;
}

.login h2{
    background-color: #1207a7;
    text-align: center;
    color: #FFF;
}

.login{
    background-color: #5995DA;    
    border: 1px solid #1207a7;
    border-radius: 7px;
}

.login input{
    display: flex;
    flex-direction: column; 
    margin: 2em 2em 2em 2em;
    padding: 1em 2em 1em 2em;
}

.change_pwd_fieldcontainer{
    display: flex;
    justify-content: left;   
    background-color: #ffffff;
}

.change_pwd_field{
    display: flex;
    background-color: #5995DA;
    flex-direction: column;   
    border: 1px solid #1207a7;
}

.change_pwd_field div{
    color:  #ffffff;
    background-color: #1207a7;
    margin-bottom: 15px;
    padding: 0.8em 0em 0.8em 0em;
}

.change_pwd_field input{
    margin: 1em 2em 1em 2em;
    padding: 1em 2em 1em 2em;
    margin-bottom: 35px;
}


/* break Line*/
.break_line{
    height:1px;
    background:#000000;
    padding: 1px;
    margin: 35px 0px 35px 0px ;
}

.stories_css{
    display: flex;
    justify-content: center;   
    flex-direction: column;   
    /*border: 1px solid #1207a7;*/
}

.story{
    background:#fff;
    width: 800px;
    border: 1px solid #000000;
    margin: 1em;   
}

.story_header{
    background:#1207a7;
    font-size: 0.8em;
}
.story_header span{
    margin: 0em 1em 0em 1em;
}

.story_content{
    background:#c5c5c7;
    border: 1px solid #000000;  
}

.story_footer{
    display: flex;
    background:#c5c5c7;
    border: 1px solid #000000;  
}

.story_footer > * {
    display: flex;    
    flex-direction: column;   
    justify-content: center;   
    margin: 0em 1em 0em 1em;
}

.story header{
    margin: 1em 0em 2em 0em;
    text-align: center;
}

.article-container #orderDiv{
  height: 75%;
  width: 10em;
  position: fixed;
  z-index: 1;
  top: 10em;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  box-sizing: border-box;
 /* padding-top: 20px;
  padding-bottom: 200px;*/

 
}

.article-container #orderDiv button{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  border: none;
  background-color: #111;
  font-size: 20px;
  color: #818181;
  display: block;
}

.article-container #orderDiv button:hover {
    color: #f1f1f1;

  }

.ordered-publications{
    margin-left: 160px; /* Same as the width of the sidenav */
    /* font-size: 28px; Increased text to enable scrolling */
    padding: 0px 10px;

}


.new-story{
    background-color: #111;
    display: block;
    width: 70%;
    justify-content: center;  
    margin: 2em 2em 2em 2em;
    border-style: dotted;
    border-width: 2px;
    padding: 25px;
    box-sizing: border-box;
   /* width: 50%;*/

}
.new-story input[type=text]{
    width: 100%;
    justify-content: center; 
    padding: 12px 20px;
    margin: 0em 0em 1em 0em;
    /*display: block;*/
    display: inline-block;
    border: 4px ;
    border-radius: 4px;
    box-sizing: border-box;
    /*background-color: rgb(90, 78, 78);
    border-radius: 7px;*/
   
}
.new-story form{
    margin:auto;
  
   
}

.new-story textarea{
    width: 100%;
    border: 1px solid #888; 
    padding: 12px 20px;
    outline: none;
    resize: none;
    margin: auto;
    overflow: auto;

    border-radius: 4px;
   
}
.new-story input{
    margin:auto;
    width:50%;
}
.new-story input[type=submit]{
    width: 50%;
   /* width:200px;*/
    padding: 12px 20px;
    margin: auto;
    display: block;
    border: 1px solid #ccc;
    
    box-sizing: border-box;
    /*background-color: rgb(90, 78, 78);
    border-radius: 7px;*/
   
}
.new-story select{
    background-color: rgb(82, 75, 75);
    border-radius: 4px;
    margin: 2em 2em 2em 2em;
     padding: 1em;
   /* width: 50%;*/
    width:200px;
    box-sizing: border-box;
    
}

.search_div {
  display: inline-block;
}

.search_bar {
  width: 10em;
  font-size: 20px;
  font-family: "Lato";
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

.search_bar:focus {
  width: 30em;
  cursor: text;
}
  
  .messages {
    max-width: 20em;
    margin: 0 auto; 
    padding: 2em;
    text-align: center;
  }

  .messages .error {
    background-color: #f50808;
    color: #FFF;
  }
  
  body > #messages .error {
    color: var(--error-fg-color);
    background-color: var(--error-bg-color);
  }


  